


.poppins-font-family {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.inter-font-family {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles  */

.display-flex {
   display: flex;
}

/* ........................ */

body {
  max-width:1440px;
  margin: 0 auto;
}

.navbar {

  max-width:1200px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav-links ul {
  list-style: none;
  gap: 34px;
}


.nav-links li a {
  text-decoration: none;
}










@media screen and (max-width:576px) {
  
  .navbar, .nav-items {
   display: block;
   
   
}
  
}
